body{
	margin:0px;
	padding:0px;
}

header{
	background-color:#6cb6e0;
	background: linear-gradient(40deg,#6cb6e0 60%,white 150%);
	padding:10px;
	margin:0px;
}

nav{
	display: flex;
	justify-content: space-around;
	background-color: #1A1A1A;
}

a{
	display: flex;
	text-decoration:none;
	color:white;
	padding:10px;
}

main{
	display:flex;
	flex-direction: row;
	justify-content: stretch;
	height:100%
}

.personal-info{
	flex-basis:200px;
	height:100%;
	flex-shrink: 0;
	flex-grow: 0;
	background-color:gray;
}

.link-descriptions{
	width: 100%;
	height:100%;
	background-color: lightgray;
}

footer{
	background-color: black;
}

