body{
	margin:0px;
	padding:0px;
}

header{
	background-color: darkorange;
	padding:10px;
	margin:0px;
}

nav ul{
	background-color: #111111;
	margin:0px;
}

nav ul li{
	display: inline-block;
	margin:10px;
	color: white;
	background-color: #111111;
}

nav ul li a{
	text-decoration:none;
	color:white;
	padding:10px;
}

a{
	text-decoration: none;
	color: black;
}

.inline-block{
	display:inline-block;
}

.blue{
	background-color: dodgerblue;
	width:20%;
	height:100%;
}

.gray{
	background-color: lightgray;
	text-align:top;
}

.level{
	display:block;
	text-align: center;
	border-radius: 50%;
	width:100px;
	height:100px;
	background-color:white;
}