main{
    display:inline-block;
    align-items:flex-start;
    height:auto;
    min-height:68vh;
    width:100vw;
    background:#2A9D8F; 
}

.project{
  display:flex;
  border:solid black 10px;
  background-color:white;
  width:40vw;
  height:20vh;
  margin:5vh;
}

.project img{
  display:inline-block;
  height:20vh;
  width:20vh;
  margin:auto;
}

.project div{
  display:inline-block;
  margin:2vh;
}
