body{
	margin:0px;
	padding:0px;
}

header{
	background-color: darkorange;
	padding:10px;
	margin:0px;
}

nav ul{
	background-color: #111111;
	margin:0px;
}

nav ul li{
	display: inline-block;
	margin:10px;
	color: white;
	background-color: #111111;
}

nav ul li a{
	text-decoration:none;
	color:white;
	padding:10px;
}

.personal-info{
	display:inline-block;
	height:100%;
	width:20%;
	background-color:dodgerblue;
	margin:0px;
	padding:0px;
}

.link-descriptions{
	display:inline-block;
	height:100%;
	width:79%;
	background-color: grey;
	margin:0px;
	padding:0px;
}